services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_HOST_AUTH_METHOD: 'trust'
    volumes:
      - db_data:/var/lib/postgresql/data
  app:
    image: onlyoffice/wrata
    depends_on:
      - db
    tty: true
    environment:
      DO_ACCESS_TOKEN: ${DO_ACCESS_TOKEN}
      RAILS_MASTER_KEY: ${RAILS_MASTER_KEY}
    restart: always
  web:
    image: nginx:alpine
    volumes:
      # For local compose uncomment volume below and comment `./nginx-ssl.conf`
      # - "./nginx.conf:/etc/nginx/conf.d/default.conf"
      - "./nginx-ssl.conf:/etc/nginx/conf.d/default.conf"
      - ./certs:/etc/nginx/certs
    depends_on:
      - app
    ports:
      - "80:80"
      - "443:443"
    restart: always
volumes:
  db_data:
