<div class="">
  <% get_client_test_lists.each do |tl| %>
      <div class="test-list-row">
        <div class="name"><%= tl.name %></div>
        <div class="time"><input/></div>
      </div>
  <% end %>
</div>

