<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @spec_browser.name %>
</p>

<%= link_to 'Edit', edit_spec_browser_path(@spec_browser) %> |
<%= link_to 'Back', spec_browsers_path %>
