<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @spec_language.name %>
</p>

<%= link_to 'Edit', edit_spec_language_path(@spec_language) %> |
<%= link_to 'Back', spec_languages_path %>
