<% content_for :head do %>
    <script type="text/javascript">
        $(document).ready(function () {
            eventToDeleteHistoryLine($('.delete-line'));
            eventToRetest($('.retest'));
            eventToShowFullStartOption($('.open-full-command'));
            <% if @controller == :server %>
              eventToClearHistoryOnServer($('#clear-history'));
            <% elsif @controller == :client %>
              eventToClearHistoryOnClient($('#clear-history'));
            <% end %>
        });
    </script>
<% end %>
<% if @history.empty? %>
    <h1>History list for this server is empty!</h1>
<% else %>
    <% content_for :head do %>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#show-more').click(function () {
                    <% if @controller == :client %>
                    showMoreHistoryForClient();
                    <% elsif @controller == :server %>
                    showMoreHistoryForServer();
                    <% end %>
                });
                eventToOpenRspecResults($('.open-results'))
            });
        </script>
    <% end %>
    <div class="overlay">
      <div class="overlay-window">
        <div class="overlay-content">
          <div class="overlay-text">Loading...</div>
          <%= image_tag 'ajax_loader_gray_128.gif' %>
        </div>
      </div>
    </div>
    <div class="popup-overlay" style="display: none">
      <div class="popup-window"></div>
    </div>
    <h1>Runs on <label id="<%= @controller.to_s %>"><%= @name %></label>:</h1>
    <button id="clear-history" class="btn btn-primary" style="position: absolute; top: 58px; right: 20px;">
      <i class="glyphicon glyphicon-trash"></i>Clear history
    </button>
    <table class="table table-bordered table-hovers">
      <thead>
      <tr>
        <th class="center">Client</th>
        <% if @controller == :client %>
            <th class="center">Server</th>
        <% end %>
        <th class="center">File</th>
        <th class="center">Result</th>
        <th class="center">Run params</th>
        <th class="center">End time</th>
        <th class="center">Options</th>
      </tr>
      </thead>
      <tbody>
      <%= render :partial => 'history_entry' %>
      </tbody>
    </table>
    <div style="text-align: center">
      <button id="show-more" class="btn btn-info">Show more</button>
    </div>

<% end %>
