<p>
  <b>Name:</b>
  <%= @test_file.name %>
</p>

<p>
  <b>Test List ID:</b>
  <%= @test_file.test_list_id %>
</p>


<%= link_to 'Edit', edit_test_file_path(@test_file) %> |
<%= link_to 'Back', test_files_path %>
