<div class="overlay">
  <div class="overlay-window">
    <div class="overlay-content">
      <div class="overlay-text">Loading...</div>
      <%= image_tag 'ajax_loader_gray_128.gif' %>
    </div>
  </div>
</div>
