<div class="result-header">
    <div class="file-name"><span><%= @file_name %></span></div>
    <div class="close-result pointer"></div>
</div>
<div class="popup-content">
  <% if @rspec_result %>
    <%= render 'histories/show_html_results/create_rspec_result' %>
  <% else %>
    <h1> Don't have html file of this test! </h1>
  <% end %>
</div>
