<% @test_list.test_files.each do |test_file| %>
    <% path = test_file.name %>
    <div class="file-folder">
      <div class="file-name" data-qtip="<%= path %>">
        <i class="glyphicon glyphicon-file"></i><%= path.slice((path.rindex('/') + 1)..-1) %>
        <i class="glyphicon glyphicon-remove"></i>
      </div>
    </div>
<% end %>