<% unless current_client.nil? %>
    <li style="position: relative">
      <a href="#"><%= @test_list.name %></a>
      <i class="fa fa-trash delete-test-list" style="padding: 0;" delete-data="<%= test_list_path(@test_list) %>"></i>
    </li>
<% end %>