body {
    padding: 10px;
}

ul, ul li {
    width: 200px;
}
li{
    list-style-type: none;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
}