#added-test-lists {
    padding: 5px 5px 0 5px;
    border: 1px solid rgb(243, 243, 243);
    margin-bottom: 10px;
}

.nav-div {
    color: #999999;
    padding: 15px 10px;
    line-height: 20px;
    cursor: pointer;
}

.nav-div:hover {
    color: white;
    background-color: transparent;
}

.list-name {
    font-size: 14px;
    font-weight: bold;
    width: 115px;
    height: 20px;
    overflow: hidden;
    vertical-align: middle;
}

#added-test-lists label {
    color: #6B6B6B;
}

.add-run-button {
    background: #8cca11;
    background: -moz-linear-gradient(top, #8cca11 15%, #699a0d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #8cca11), color-stop(100%, #699a0d));
    background: -webkit-linear-gradient(top, #8cca11 15%, #699a0d 100%);
    background: -o-linear-gradient(top, #8cca11 15%, #699a0d 100%);
    background: -ms-linear-gradient(top, #8cca11 15%, #699a0d 100%);
    background: linear-gradient(to bottom, #8ec226 15%, #7baf18 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cca11', endColorstr='#699a0d', GradientType=0);
    font-size: 12px;
    padding: 5px;
    border: 1px solid #567517;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 #2f2f2f;
    cursor: pointer;
    width: 80px;
    color: rgb(70, 88, 70);
    font-weight: bold;
    margin: auto;
}

.add-run-button span {
    margin-top: 0;
    line-height: 15px;
    vertical-align: top;
}

.test-list-row input, .test-list-row select{
    text-align: center;
    border-radius: 4px;
    display: inline-block;
}

.test-list-row {
    display: none;
    margin-bottom: 5px;
    font-size: 14px;
}

.test-list-row .form-control {
    height: 21px;
    line-height: 20px;
    padding: 0;
}

.date input {
    width: 100px;
}

.time input, .each-time input {
    width: 37px;
}

.location select {
    width: 70px;
}

.run-method select {
    width: 100px;
}

.add-run-button:hover {
    background: linear-gradient(to bottom, #83B323 15%, #7baf18 100%);
}

.add-run-button:active {
    background: linear-gradient(to bottom, #92C728 15%, #8DC71E 100%);
}

.save-delayed-run, .save-changed-run, .delete-run, .delete-row {
    display: inline-block;
    font-size: 18px;
    margin-left: 5px;
    color: rgb(85, 85, 104);
    border-radius: 3px;
    padding-left: 5px;
}

.save-changed-run i {
    display: none;
}

.save-delayed-run i, .save-changed-run i, .delete-run i, .delete-row i {
    vertical-align: middle;
}

.save-delayed-run:hover, .save-changed-run:hover, .delete-run:hover, .delete-row:hover {
    color: #000000;
}