#file-list-tools {
    bottom: 15px;
    display: inline-block;
    position: relative;
}

#file-list-tools select {
    display: inline-block;
    font-size: 10px;
    height: 20px;
    width: 65px;
}
