.danger td {
  background-color: rgb(242, 222, 222);
}

.success td {
  background-color: rgb(223, 240, 216);
}

.history-table {
  table-layout: fixed;
}

.history-entry-file-column {
  overflow-wrap: break-word;
  width: 50%;
}

.history-entry-options-column {
  overflow-wrap: break-word;
  width: 5%;
}
