//  Place all the styles related to the matching controller here.
//  They will automatically be included in application.css.

#language_0 {
  display: inline-block;
  margin-left: 1em;
  margin-top: -8px;
  vertical-align: top;
  width: 17%;
}
