<div class="main-describe describe">
  <div class="describe-head">
    <div class="describe-name"><%= @main_describe.text %></div>
  </div>
  <div class="describe-child">
    <% unless @main_describe.child.empty? %>
      <% @main_describe.child.each do |cur_child| %>
        <% if cur_child.class == OnlyofficeRspecResultParser::Example %>
          <% @example = cur_child %>
          <% render "histories/show_html_results/create_example" %>
        <% elsif cur_child.class == OnlyofficeRspecResultParser::Describe %>
          <% @describe = cur_child %>
          <%= render 'histories/show_html_results/create_describe' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>