<!DOCTYPE html>
  <html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    Server: `<%= @history.server.name %>`
    File: <%= @history.file %>

    Log is:
    <pre>
      <%= @history.log %>
    </pre>
  </body>
</html>
