<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
Some test failed on `<%= @history.server.name %>` server
In file: <%= @history.file %>
</body>
</html>