<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @tested_server.url %>
</p>

<%= link_to 'Edit', edit_tested_server_path(@tested_server) %> |
<%= link_to 'Back', tested_servers_path %>
